<header>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<!-- Custom Css -->
	<link rel="stylesheet" href="/css/index.css">
	<title>GoCook</title>
	
	<div id="header-main-menu" class="header-main-menu header-sticky">
		<div class="container">
			<div class="row">
				<nav class="site-nav">
					<ul id="site-menu" class="site-menu" style="list-style-type:none">
						<li><a class="navlink" href="/">Home</a></li>
						<li><a href="#">Category</a>
							<ul class="dropdown-menu-col-1" style="list-style-type:none">
								<li><a class="navlink" href="/category/1/search">Breakfast</a></li>
								<li><a class="navlink" href="/category/2/search">Lunch</a></li>
								<li><a class="navlink" href="/category/3/search">Dinner</a></li>
								<li><a class="navlink" href="/category/4/search">Dessert</a></li>
								<li><a class="navlink" href="/category/5/search">Healthy</a></li>
								<li><a class="navlink" href="/category/6/search">Meat</a></li>
								<li><a class="navlink" href="/category/7/search">Poultry</a></li>
								<li><a class="navlink" href="/category/8/search">Veggie</a></li>
								<li><a class="navlink" href="/category/9/search">Seafood</a></li>
							</ul>
						</li>
						<li><a href="category.html">Search by Ingredient</a></li>
						<li><a href="#">Database</a>
							<ul class="dropdown-menu-col-1" style="list-style-type:none">
								<li><a class="nav-link" href="/categories">Categories</a></li>
								<li><a class="nav-link" href="/ingredients">Ingredients</a></li>
								<li><a class="nav-link" href="/quantities">Quantities</a></li>
								<li><a class="nav-link" href="/foodgroups">Food Group</a></li>
								<li><a class="nav-link" href="/users">Users</a></li>
							</ul>
						</li>
					</ul>
				</nav>

				<div class="nav-action-elements-layout1">
					<ul>
						<li>
							<button type="button" class="login-btn" data-toggle="modal"
								data-target="#myModal">Login </button>
						</li>
						<li><a href="submit-recipe.html" class="fill-btn">SUBMIT RECIPE</a></li>
					</ul>
				</div>

			</div>
		</div>
	</div>
	<div class="header-bottom d-none d-lg-block">
		<div class="container">
			<div class="site-logo-desktop">
				<a href="index.html"><img	src="img/gocook-logo.png" class="rounded mx-auto d-block" alt="Site Logo"></a>
			</div>
		</div>
	</div>
	
</header>