<!doctype html>
<html lang="en">
<head>
	
</head>
<body>
	<header th:replace="index/header.html"></header>

	<div class="single-recipe-layout1">
		<h1 class="item-title" th:text="${recipe.getTitle()}"></h1>
		<div style="line-height:1;">&nbsp;</div>
		<div class="item-figure">
			<img th:src="${recipe.getImage()}" alt="RecipeImg" width="320" height="320">
		</div>
		<div class="item-feature">
			<ul style="list-style-type:none">
				<li>
					<div class="feature-wrap">
						<div class="media-body space-sm">
							<div class="feature-title">PREP TIME</div>
							<div class="feature-sub-title" th:text="${recipe.getPrepTime()}"></div>
						</div>
					</div>
				</li>
				<li>
					<div class="feature-wrap">
						<div class="media-body space-sm">
							<div class="feature-title">COOK TIME</div>
							<div class="feature-sub-title" th:text="${recipe.getCookTime()}"></div>
						</div>
					</div>
				</li>
				<li>
					<div class="feature-wrap">
						<div class="media-body space-sm">
							<div class="feature-title">SERVING</div>
							<div class="feature-sub-title"
								th:text="${recipe.getServingQty()}"></div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="ingridients-wrap">
			<h3 class="item-title">Ingredients</h3>
			<div style="line-height:1;">&nbsp;</div>
			<ul>
				<li class="media" th:each="qty_ingredients : ${recipe.getQty_ingredients()}">
					<div>&#8226;&nbsp;</div>
					<div th:text="${qty_ingredients.getValue().getQuantity()} "></div>
					<div class = "media-body">
						<p class="mt-0 mb-1" th:text="${qty_ingredients.getKey().getName()}"></p>
					</div>
				</li>
			</ul>
		</div>
		<div class="direction-wrap-layout1">
			<h3 class="item-title">Directions</h3>
			<div style="line-height:1;">&nbsp;</div>
			<ul class="list-unstyled">
				<div th:each="instruction : ${recipe.getInstructions()}">
					<li class="media">
						<div class="serial-number"
							th:text="${recipe.getInstructions().indexOf(instruction)+1}">
						</div>
						<div class="media-body">
							<p class="mt-0 mb-1" th:text="${instruction}"></p>
						</div>
					</li>
				</div>
			</ul>
		</div>
	</div>


	<footer th:insert="index/footer.html"></footer>
</body>
</html>