<!doctype html>
<html lang="en">
<head>
	
</head>
<body>
	<header th:replace="index/header.html"></header>
		<h1>users</h1>
		<table class="table">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>User name</th>
				<th>role</th>
				<th>Action</th>
			<tr>
			<tr th:each="user : ${users}">
				<td th:text="${user.getFirstName()}"></td>
				<td th:text="${user.getLastName()}"></td>
				<td th:text="${user.getEmailAddress()}"></td>
				<td th:text="${user.getRole()}"></td>  
				<td style="white-space: nowrap;">
					<button th:data-user="${user.getId()}" type="button" class="btn-sm btn-primary"
						 data-toggle="modal" data-target="#modalForm" th:data-method="PUT">Edit</button>
					<form action="/users" th:method="DELETE" style="display: inline;">
						<input type="submit" class="btn-sm btn-warning" value="Delete">
						<input type="hidden" th:value="${user.getId()}" id="deleteId" name="id">						
					</form>
				</td>
			</tr>
		</table>
		<p class="text-right"><button data-user="0" type="button" class="btn-sm btn-secondary"
						 data-toggle="modal" data-target="#modalForm" th:data-method="POST">Add user</button></p>
						 
		<!-- START MODAL -->
		<div class="modal" tabindex="-1" role="dialog" id="modalForm">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="modalTitle"></h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      	<form action="#" th:action="@{/users}" th:object="${user}" method="POST" id="userForm">
				  <div class="form-group">
				  	<input type="hidden" th:field="*{Id}" id="txtId">
				    <label for="txtfirstname">First Name</label>
				    
				    <input type="text" class="form-control" id="txtfirstname" th:field="*{FirstName}">
				    
				    <label for="txtlastname">Last Name</label>
				    <input type="text" class="form-control" id="txtlastname" th:field="*{LastName}">
				    <label for="txtusername">User Name</label>
				    <input type="text" class="form-control" id="txtEmailAddress" th:field="*{EmailAddress}">
				    <label for="role">Role</label>
				    <select class="form-control" id="txtrole" th:field="*{Role}">
				    	<option value= "admin">Admin</option>
				    	<option value= "user">User</option>
				    </select>
				    
				    
				  </div>
				  	<button type="submit" class="btn btn-primary">Save changes</button>
		        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</form>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- END MODAL -->
		<script src="/script/user.js"></script>
						 
	<footer th:insert="index/footer.html"></footer>
</body>
</html>